<div class="image">


  <mat-grid-list [gutterSize]="7" [cols]="2" rowHeight="1:1.5">
    <mat-grid-tile *ngFor="let el  of elements; let i=index">

      <mat-grid-tile-header fxLayout="row" fxLayoutAlign="end center" class="header">

        <div fxFlex="1 1 90" class="title">
          <div> {{el.title}}</div>
        </div>

        <div fxFlex> {{el.price  |  currency:'EUR'}}</div>

      </mat-grid-tile-header>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="2 2 auto" class="img1">
          <a [routerLink]="['/product-view']">
          <img mat-card-image src="{{el.link}}" alt="Product photo">

          </a>

        </div>
      </div>

      <mat-grid-tile-footer fxLayout="row">
        <div fxFlex><a mat-button fxFlex (click)="onAddToCart(el,i)">
            <mat-icon [color]="bought_color[i]" matBadge="{{bought_qunatity[i]}}"   matBadgeSize="medium"  >add_shopping_cart</mat-icon>
          </a></div>

        <div fxFlex><button mat-button fxFlex (click)="onAddToWished(el,i)">
            <mat-icon [color]="liked_color[i]" class="favoriteIcon" >favorite</mat-icon>
          </button></div>
      </mat-grid-tile-footer>


    </mat-grid-tile>

  </mat-grid-list>
</div>
